.videos-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
    grid-auto-flow: row;
    align-content: flex-start;
    justify-items: center;
    min-height: calc(100vh - calc(var(--appbar-height) * 3));
    align-items: flex-start;
}

.homepage {
    min-height: calc(100vh - calc(var(--appbar-height) + 62px));
}

@media (min-width: 650px) {
    .videos-layout {
        margin-top: unset;
        padding: 1.5rem;
    }
}
