.videos-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
    grid-auto-flow: row;
    align-content: flex-start;
    justify-items: center;
    align-items: flex-start;
}

@media (min-width: 650px) {
    .videos-layout {
        margin-top: unset;
        padding: 1.5rem;
    }
}
