.TreeTv-modal {
    position: absolute;
    height: calc(100% - var(--appbar-height));
    top: var(--appbar-height);
    z-index: 2;
    background: var(--primary-bg-color);
}

.TreeTv-modal > *:first-child > *:first-child > *,
.TreeTv-modal > *:first-child > *:first-child {
    border-color: var(--primary-text-color);
    border-radius: inherit;
}

.TreeTv-modal-dialog {
    min-width: unset;
    width: 30rem;
}

.TreeTv-modal > *:first-child > *:first-child > *:not(:first-child) {
    background: var(--primary-bg-color);
}

.TreeTv-modal-header {
    background-color: var(--primary-color);
}

.TreeTv-modal-header > *:first-child {
    margin-left: 16px;
}

.profile-heading {
    display: inline-block;
}

.profile-avatar {
    outline-color: var(--primary-text-color);
    color: var(--dark);
}

.profile-avatar,
.profile-heading > * {
    user-select: none;
    border-color: var(--primary-text-color);
}
