.histroy-card-layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 2rem;
    align-content: flex-start;
}

@media (min-width: 650px) {
    .histroy-card-layout {
        margin-top: unset;
        padding: 1.5rem;
    }
}
