.page-wrapper {
    padding: 1rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    max-height: var(--appbar-height);
    border-left: 5px solid var(--primary-color);
    border-radius: 5px;
}

.page-header button {
    border-radius: 5px;
    padding-block: 0;
}
